.div-api-link{
    margin-right: auto;
    width: 90%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    a{
        color: cornflowerblue;
    }
}

.div-demo-usr{
    margin-right: auto;
    width: 90%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.divframe {
    white-space: nowrap;    
    text-align: center; 
    width: 55% !important;
    display: "block";
    margin-left: auto ;
    margin-right: auto;
    img{
        border: 1px solid;
    }
}
.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;    
}
